@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
    border-left: 2px solid #DF4446;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #DF4446;
    ;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Calibri', 'Roboto', sans-serif;
    color: #28175E;
    background-color: #f3faff;
    font-size: 30px;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -khtml-user-select: none;
}

main,
footer {
    max-width: 1024px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border: 2px solid #7fc1ff; */
    /* background-color: #f3faff; */
    flex-grow: 1;
    border-radius: 10px;
}

section {
    width: 100%;
}

h1,
h2,
h3 {
    color: #DF4446;
    margin: 20px;
}

p,
ul {
    margin-bottom: 20px;
}

.lesson-name {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    border: 2px solid #9779ec;
    padding: 50px;
    text-align: center;
    width: 50vh;
    height: 10px;
    color: #28175E;
}

.lesson-name:hover {
    background-color: #F9F7FF;
    border: #7D2AE8 solid 3px;
    color: #DF4446;
}

a.lessons {
    text-decoration: none;
    font-size: 25px;
    color: #DF4446;
    font-weight: bold;
    margin: 10px;
}

.course-desc {
    margin-bottom: 30px;
}

cite,
q,
blockquote {
    background-color: #ffffff;
    border-left: #DF4446 solid 5px;
    color: #000000;
    padding-left: 20px;
    margin-bottom: 20px;
}

.data {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border: #DF4446 solid 5px;
}

a {
    text-decoration: none;
    color: #DF4446;
    font-weight: bold;
}

table {
    background-color: #ffffff;
    border: #DF4446 solid 5px;
    margin-bottom: 20px;
    font-size: 22px;
}

th,
td {
    padding: 10px;
}

.table-back {
    width: 100%;
    background-color: #f3faff;
}

figure img {
    height: 600px;
}

.setting-image {
    max-width: 1000px;
}